*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

:root {
    --title-color: #322153;
    --primari-color: #34cb79;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

html {
    font-family: 'Roboto', sans-serif
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}